node_modules/*
.scannerwork/*
package-lock.json
launch.json
sus
.env
covid_italia.json
.*.swp
.*.swo

#volatile files for testing/program output
search_dump.txt
stream_dump.txt
sonar.txt
newdump.json
node_modules
