<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Twitter Analytics</title>
    </head>
<body>
    <div id="container">
        
        <!-- SETTINGS -->
        <button id="togglesettings">Edit view</button>
        <div id="settings">
            <input type="checkbox" id="multiple" value="multiple" v-model="computedcheck" @change="checkedsettings.length>0 ? checkedsettings=[] : checkedsettings=settings">
            <label for="multiple">{{computedcheck? "Deseleziona tutto" : "Seleziona Tutto"}}</label>
            <div v-for="setting in settings">
                <input type="checkbox" v-bind:id="setting" v-bind:value="setting" v-model="checkedsettings">
                <label v-bind:for="setting">{{setting}}</label>
            </div>
        </div>

        <!-- STREAM -->
        <div id="stream">
            <label for="streamfilter">Stream Settings</label>
            <input type="text" id="streamfilter" ref="streamfilter" :disabled="stream_on">
            <button @click="toggleStream">
                {{ stream_on ? "Close Stream" : "Start Stream"}}
            </button>
        </div>

        <!-- SEARCH / FILE-->
        <div id="addTweet">
            <label for="searchfilter">Search Settings</label>
            <input type="text" id="searchfilter" ref="searchfilter">
            <button @click="search" id="search">Search</button>
            <input type="file" id="import" value="Import" />
        </div>

        <!-- Filters -->
        <div id="filterlabels">
            <div>
                <label for="inputfilter">Tag:</label>
                <select ref="filtertype">
                    <option v-for="filter in local_filters">{{filter}}</option>
                </select>
                <input type="text" id="filerinput" ref="filterinput">
                <button id="addlabel" v-on:click="addfilter">Aggiungi</button>
            </div>
            <div id="labelscontainer">
                <div class="label" v-for="label in labels">
                    {{label.type}}: {{label.value}} <button class="delete" @click="removefilter(label)">x</button>
                </div>
            </div>
        </div>

        <!-- EXPORT -->
        <button id="export">Export</button>

        <!-- TWEET LIST -->
        <div id="tweetslist">
            <table>
                <tr>
                    <th v-for="setting in checkedsettings">{{setting}}</th>
                    <th></th>
                </tr>
                <tr v-for="tweet in computedtweets">
                    <td v-for="setting in checkedsettings">
                        <template v-if="setting=='username'">{{tweet.user.name}}</template>
                        <template v-else-if="setting=='replies' || setting=='retweets'">{{tweet[setting+"_count"]}}</template>
                        <template v-else>{{tweet[setting]}}</template>
                    </td>
                    <td> <button @click="showinfo(tweet)"> ... </button> </td>
                </tr>
            </table> 
        </div>
        <div id="map"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/container.js"></script>
    <script src="/js/utility.js"></script>
</body>
</html>