<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Twitter Analytics</title>
    </head>
<body>
    <div id="container">
        
        <!-- SETTINGS -->
        <button id="togglesettings">Edit view</button>
        <div id="settings">
            <input type="checkbox" id="multiple" value="multiple" v-model="computedcheck" @change="checkedsettings.length>0 ? checkedsettings=[] : checkedsettings=settings">
            <label for="multiple">{{computedcheck? "Deseleziona tutto" : "Seleziona Tutto"}}</label>
            <div v-for="setting in settings">
                <input type="checkbox" v-bind:id="setting" v-bind:value="setting" v-model="checkedsettings">
                <label v-bind:for="setting">{{setting}}</label>
            </div>
        </div>

        <!--STREAM/SEARCH QUERYING AND START-->
        <div id="gathering" style="border:solid black; margin:1em; padding:1em;">
            <div id="switchquery">
                <button :disabled="is_stream" @click="is_stream = !is_stream">Stream</button>
                <button :disabled="!is_stream" @click="is_stream = !is_stream">Search</button>
            </div>

            <div v-if="is_stream" id="stream">
                <h3>Stream Query</h3>
                <div>
                    <label for="streamfollow">Follow</label>
                    <input type="text" id="streamfollow" ref="streamfollow" :disabled="stream_on" placeholder="Insert , separated Users IDs">
                </div>
                <div>
                    <label for="streamtrack">Track</label>
                    <input type="text" id="streamtrack" ref="streamtrack" :disabled="stream_on" placeholder="Insert , separated keywords">
                </div>
                <!--Da fare poi con click su mappa ovviamente // oppure si inserisce nome di citta' e si usa qualche API per trovarne coordinate?-->
                <div>
                    <label for="streamlocations">Locations</label>
                    <input type="text" id="streamlocations" ref="streamlocations" :disabled="stream_on" placeholder="lmao">
                </div>
                <button @click="toggleStream">
                    {{ stream_on ? "Close Stream" : "Start Stream"}}
                </button>
            </div>

            <div v-else id="search">
                <h3>Search Settings</h3>
                <div>
                    <label for="searchquery">Query</label>
                    <input type="text" id="searchquery" ref="searchquery" placeholder="Insert query expression">
                </div>
                <div>
                    <label for="searchgeo">Geo</label>
                    <input type="text" id="searchgeo" ref="searchgeo" placeholder="Insert geo parameters">
                </div>
                <div>
                    <label for="searchlan">Language</label>
                    <input type="text" id="searchlan" ref="searchlan" placeholder="Insert language">
                </div>
                <div>
                    <label for="searchcount">Count</label>
                    <input type="number" step="5" max="100" min="1"  id="searchcount" ref="searchcount" value="100" placeholder="Number of tweets">
                </div>
                <!--Sarebbe da mettere una data limitata a max 7 giorni antecedenti come ultima query-->
                <button @click="search" id="search">Search</button>
            </div>
        </div>

        <!-- Filters -->
        <div id="filterlabels">
            <div>
                <label for="inputfilter">Tag:</label>
                <select ref="filtertype">
                    <option v-for="filter in local_filters">{{filter}}</option>
                </select>
                <input type="text" id="filerinput" ref="filterinput">
                <button id="addlabel" v-on:click="addfilter">Aggiungi</button>
            </div>
            <div id="labelscontainer">
                <div class="label" v-for="label in labels">
                    {{label.type}}: {{label.value}} <button class="delete" @click="removefilter(label)">x</button>
                </div>
            </div>
        </div>

        <!-- EXPORT -->
        <button id="export">Export</button>
        <label for="import">Import</label>
        <input type="file" id="import" value="Import" />

        <!-- TWEET LIST -->
        <div id="tweetslist">
            <table>
                <tr>
                    <th v-for="setting in checkedsettings">{{setting}}</th>
                    <th></th>
                </tr>
                <tr v-for="tweet in computedtweets">
                    <td v-for="setting in checkedsettings">
                        <template v-if="setting=='username'">{{tweet.user.name}}</template>
                        <template v-else-if="setting=='replies' || setting=='retweets'">{{tweet[setting+"_count"]}}</template>
                        <template v-else>{{tweet[setting]}}</template>
                    </td>
                    <td> <button @click="showinfo(tweet)"> ... </button> </td>
                </tr>
            </table> 
        </div>
        <div id="map"></div>
        <div id="extra"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/container.js"></script>
    <script src="/js/utility.js"></script>

    <template id="tabella">
        <table>
            <tr>
                <th>Utente</th><th>Contenuto</th><th>Data-Ora</th><th>hashtag</th><th>user mentions</th><th>is retweetted</th><th>retweet count</th><th>media</th>
            </tr>
            <tr>
                <td>$UTENTE</td>
                <td>$CONTENUTO</td>
                <td>$DATA</td>
                <td>$HASHTAG</td>
                <td>$USERM</td>
                <td>$RETWEETED</td>
                <td>$COUNT</td>
                <td>$MEDIA</td>
            </tr>
        </table> 
    </template>
</body>
</html>
